@font-face {
  font-family: Normalidad;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../assets/fonts/Normalidad/NormalidadCompact-Regular.woff2")
    format("woff2");
}
