<div class="flex flex-col gap-6 pb-5">
  <div class="bg-background-milk rounded-3xl border border-gray-light p-6 flex flex-col gap-1 mx-2 relative">
    <div class="t-caption min-h-4 flex items-center">Горячая линия</div>
    <div class="t-caption min-h-4 flex items-center text-gray-dark">8 800 350 57 85</div>
    <button class="btn-icon size-9 bg-orange-main/14 text-orange-main absolute right-2 top-2">
      {% include 'components/icons/phone.liquid' %}
    </button>
  </div>

  <div class="px-5">
    <button class="t-button flex items-center gap-2">
      <span class="btn-icon size-7.5 overflow-hidden">
        {% include 'components/icons/info.liquid' %}
      </span>
      Сообщить об ошибке
    </button>
  </div>
</div>
