<footer class="xl:px-6 px-5 pt-5 pb-3 flex flex-col gap-2 items-start">
  <a href="{{ footer.ref.url }}" class="t-link">{{ footer.ref.label }}</a>
  <div class="t-caption">{{ footer.copyright }}</div>
</footer>
