<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description | strip_html }}">
  <link rel="stylesheet" href="/src/styles/styles.css">
  <script type="module" src="/src/main.js"></script>
  {% comment %} <link rel="icon" type="image/svg+xml" href="/itcron.svg"> {% endcomment %}
</head>
