<div class="xl:bg-background xl:p-4 xl:border xl: border-gray-light xl:rounded-t-[40px] xl:rounded-b-[48px]">
  <div>{% include 'components/layout/user.liquid' %}</div>
  <div class="grid gap-x-2 gap-y-5 3xl:grid-cols-[repeat(3,1fr)_repeat(3,188px)] xl:gap-2.5 max-xl:grid-cols-3">
    <div class="bg-orange-main rounded-3xl p-5 pb-6 flex flex-col xl:gap-6 gap-5 items-start border-[6px] border-orange-light xl:rounded-4xl xl:border-8 xl:p-6 xl:pb-7 overflow-hidden col-span-3 max-3xl:order-1">
      <div class="t-h1 text-white">Как вам помочь?</div>
      <div class="max-h-29.5 min-h-8.5 xl:max-h-19 flex flex-wrap gap-2 overflow-hidden">
        <button class="btn-quick">Нужна финансовая поддержка</button>
        <button class="btn-quick">Нужна моральная поддержка</button>
        <button class="btn-quick">Хочу поговорить</button>
        <button class="btn-quick">Хочу на мероприятие</button>
        <button class="btn-quick">Нужна мед. помощь</button>
      </div>
      <button class="t-link text-white">Связаться с поддержкой</button>
    </div>

    <div class="helper bg-orange-light">
      <img class="helper-image" src="/src/assets/images/card-1.png">
      <div class="helper-text">
        Как получить<br>
        помощь?
      </div>
    </div>

    <div class="helper bg-pink-main">
      <img class="helper-image" src="/src/assets/images/card-2.png">
      <div class="helper-text">
        Как записаться<br>
        на событие?
      </div>
    </div>

    <div class="helper bg-blue-main">
      <img class="helper-image" src="/src/assets/images/card-3.png">
      <div class="helper-text">
        Какие документы<br>
        собрать?
      </div>
    </div>
  </div>
</div>
