<div class="flex items-center justify-between mb-7 xl:mb-4 xl:px-4">
  <div class="t-button flex gap-3 items-center text-gray-dark">
    <span class="size-10 overflow-hidden rounded-full">
      <img src="/src/assets/images/user.jpg">
    </span>
    <span>Василина Н.</span>
  </div>

  <div class="flex items-center gap-2 xl:bg-background-milk xl:p-2 xl:pl-6 xl:rounded-4xl">
    <div class="t-button text-gray-dark xl:block hidden">Ваш регион:</div>
    <div class="t-button xl:text-current flex items-center gap-2">
      Москва
      <span class="btn-icon size-5 xl:size-9">
        {% include 'components/icons/location.liquid' %}
      </span>
    </div>
  </div>
</div>
